[Unit]
Description=Gunicorn instance to serve LearningAgent of msu antispam system
After=network.target

[Service]
User=antispam
Group=www-data
WorkingDirectory=/home/antispam/AntiSpam/agents/LearningAgent
Environment="PATH=/home/antispam/AntiSpam/agents/LearningAgent/venv/bin"
ExecStart=gunicorn --bind unix:LearningAgent.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

